<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<div class="login-page">
  <div class="form">
    <h1>Sorry, page not found.</h1>
    <div>
      <a href="/">Back to home</a>
    </div>
  </div>
</div>
