<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<div class="login-page">
  <div class="form">
    <h1>Story <%= id %>.</h1>
    <% if(!!title) { %>
    <h3>Title code: <%= title %></h3>
    <% } %>
    <div>
      <a href="/">Back to home</a>
    </div>
  </div>
</div>
