<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<div class="login-page">
  <div class="form">
    <h1>Welcome, <%= username %>!</h1>
    <ul>
      <li><a href="/story/1">Story 1</a></li>
      <li><a href="/story/2">Story 2</a></li>
      <li><a href="/story/3">Story 3</a></li>
      <li>
        <a href="/story/4/story-four-about-stuff">Story 4 ( title code )</a>
      </li>
      <li>
        <a href="/story/5/story-five-about-other-things"
          >Story 5 ( title code )</a
        >
      </li>
    </ul>
    <br />
    <a href="/statement">download your statement</a>
    <p><a href="/logout">Log out</a></p>
  </div>
</div>
